{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Services Section Start -->
    <section id="services" class="section" >
        <div class="container">
        <div class="section-header">          
            <h2 class="section-title">Comprar</h2>
            <p class="section-subtitle">Selecione o tamanho correto do anel</p>
        </div>
        <div class="row" data-wow-delay="0.2s">
            <div class="container">
              <div class="div-tam section-header" data-wow-delay="0.2s">
                <img src="{{ anel.imagem.url }}" alt="" class="img-aneis">
              </div>
              <div class="div-tam">
                <br>
                <div>
                  <p class="aneis-tam">{{ anel.nome }}</p>
                </div>
                <br>
                <div>
                  <p class="preco">Apartir de R$ {{ anel.preco }}</p>
                </div>
                <br><br>
                <div>
                  <p class="tamanho">Tamanho</p>
                </div>
                <br/>
                <div>
                  <select class="form-select form-select-sm form-control select-tam" aria-label=".form-select-sm example" size="1">
                    <option selected id="select-loop">Selecionar tamanho</option>

                    {% for t in anel.tamanho.all %}
                      <option value="">{{ t.tamanho }}</option>
                    {% endfor %}

                  </select>
                </div>
                <br>
                  <div>
                    <label>
                      <span data-hook="number-input-spinner-title" >Quantidade</span>
                      <div>
                        <input type="number" pattern="[0-9]*" data-hook="number-input-spinner-input" value="1" aria-label="Quantidade" max="99999" min="1"/>
                        <div aria-hidden="true">
                          <span data-hook="number-input-spinner-up-arrow">
                          </span>
                          <span data-hook="number-input-spinner-down-arrow">
                          </span>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div> 
            </div>
          <div class="container section-header">
            <button type="button" class="btn compra">COMPRAR</button>
          </div>
        </div>
        </div>
        </div>
    </section>
    <!-- Services Section End -->



<!-- Footer Section Start -->
{% include 'footer.html' %}
<!-- Footer Section End --> 

{% endblock %}