{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Services Section Start -->
    <section id="services" class="section wow fadeInUp pg" data-wow-delay="0.3s" >
        <div class="container">
        <div class="section-header">          
            <h2 class="section-title">Comprar</h2>
            <p class="section-subtitle">Selecione o tamanho correto do anel</p>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="container container-padding">
          <div class="row container container-anel  wow ">
              <input style="visibility:hidden" type="text" name="anel_id" required id="anel_id" value="{{ anel.id }}" >
              <div class="container responsive-div">
                <div class="section-header img-responsivo" data-wow-delay="0.2s">
                  <img src="{{ anel.imagem.url }}" alt="" class="">
                </div>
                <div class="separator">

                </div>
                <div class="responsive-margin">
                  <div class="responsive-nome">
                    <p class="responsive-nome">{{ anel.nome }}</p>
                  </div>
                  <br>
                  <div class="responsive-preco">
                    <p class="preco-p">A PARTIR DE </p><p class="preco-pa"><script>real_br_money("{{ anel.preco }}")</script></p>
                  </div>
                  <br><br>
                  <div class="responsive-tamanho">
                    <p class="">Tamanho:</p>
                    <select name="tamanho" required id="tamanho" class="form-select form-select-sm responsive-select" aria-label=".form-select-sm example" size="1">
                      <option selected value="">Selecionar</option>

                      {% for t in anel.tamanho.all %}
                        <option value="{{ t.tamanho }}">{{ t.tamanho }}</option>
                      {% endfor %}

                    </select>
                  </div>
                  <br>
                    <div class="margin-label">
                      <label>
                        <span data-hook="number-input-spinner-title" >Quantidade:</span>
                        <div class="responsive-select-loop">
                          <input class="responsive-select-loop" type="number" name="quantidade" required id="quantidade" pattern="[0-9]*" data-hook="number-input-spinner-input" value="1" aria-label="Quantidade" max="99999" min="1"/>
                          <div aria-hidden="true">
                            <span data-hook="number-input-spinner-up-arrow">
                            </span>
                            <span data-hook="number-input-spinner-down-arrow">
                            </span>
                          </div>
                        </div>
                      </label>
                    </div>
                </div> 
              </div>
              <br>
              <div class="submit-button container section-header">
                <button class="btn btn-common compra" id="form-submit" type="submit">Adicionar ao carrinho</button>
              <div id="msgSubmit" class="h3 text-center hidden"></div>
          </div>
          </div>
        </form>
        </div>
        </div>
    </section>
    <!-- Services Section End -->

    



<!-- Footer Section Start -->
{% include 'footer.html' %}
<!-- Footer Section End --> 

{% endblock %}