{% load static %}

<li class="nav-item dropdown dropdown-menu-right">
    <a class="nav-link dropdown-toggle dropdown-menu-right" href="../#features" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Carrinho</a>
    <div class="dropdown-menu carrinho-tam dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
      <div class="cart-container">
        <header>
          <h3 class="color"><i class="lni lni-cart"></i> CARRINHO</h3>            
        </header>           
        <div class="cart-body">           
          <div class="cart-item">
            <div class="table-overflow">
            {% if request.session.carrinho %}
            {% for key, id in request.session.carrinho.items %}

            <div class="cart-row"> 
              <img class="img-car" src="/media/{{ id.4 }}" alt="">                        
              <div class="cart-row-cell desc cart-cell-p">                          
                <p>{{ id.1 }}</p>            
                <p class="cart-p">Quantidade: {{ id.2 }}</p>
                <p class="cart-p price">R$ {{ id.3 }}</p>
              </div>
                <a href="{% url 'carrinho' key %}">
                  <i class="lni lni-cross-circle"></i>
                </a>                   
              <div class="cart-row-cell pic">
                <form action="POST">
                <a>      
                <i class="lni lni-cross-circle"></i>
                </a>
                </form>                                                 
              </div>
            </div>

            {% endfor %}
            </div>
            <footer class="footera">                          
              <div class="totals">                     
                <strong> <p class="total-label">Total:  R$ {{ request.session.total }}</p></strong>         
              </div>
              <a href="">
              <button class="button-color">Finalizar Compra</button>
              </a>           
            </footer>
          </div>   
        </div> 
      </div>                   
              {% else %}
              <p>Carrinho está vazio</p>
              <br>
            </div>
          </div> 
      </div>
      {% endif %}

    </div>
  </li>