{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start -->

    <div class="division-compra">
        <section class="ftco-section  ">
            <div class="container section-title wow fadeInDown" data-wow-delay="0.3s">
                <div class="row justify-content-center">
                </div>
                <div class="row justify-content-center ">
                    <div class="col-md-7 col-lg-7">
                        <div class="wrap borda-login">
                            <div class="login-wrap p-4 p-md-5">
                          <div class="d-flex">
                                    <div class="w-100">
                                        <div class="section-header text-center">
                                            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Finalizar compra</h2>
                                            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
                                        </div>
                                    </div>
                                </div>
                               <div>
                                <div class="cart-body">           
                                    <div class="cart-item">
                                      
                                      {% if request.session.carrinho %}
                                      {% for key, id in request.session.carrinho.items %}
                                    
                                        <div class="compra-finalizada">
                                            <div class="compra-div">
                                                <div class="img-responsivo-compra">
                                                    <img class="" src="/media/{{ id.4 }}" alt="">
                                                </div>
                                             
                                                <div class="compra-responsive-nome">
                                                    <p class="">{{ id.1 }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                        
                               </div>
                    </div>
                  </div>
                    </div>
                </div>
            </div>
        </section>
        
    
    
    
    </div>


    <!-- End -->

    



<!-- Footer Section Start -->
{% include 'footer.html' %}
<!-- Footer Section End --> 

{% endblock %}