<div class="">                          
                                          <p>{{ id.1 }}</p>
                                        </div>
                                        <div class="">
                                            <a href="{% url 'carrinho' key %}">
                                              <i class="lni lni-cross-circle"></i>
                                            </a>
                                        </div>  
                                      </div>

                                        <div class="">          
                                          <p class="">Quantidade: {{ id.2 }}</p>
                                          <p class="" >Tamanho: {{ id.5 }}</p>
                                        </div>
                                        <div class="">
                                          <p class="">R$ {{ id.6 }}</p>
                                        </div>
                                        <div class=""></div>
                                    </div>
                               
                                      
                                      </div>
                                      <div class="">

                                      </div>
                                      <footer class="footera">                          
                                        <div class="totals">                     
                                          <strong class="total-label">Total:  R$ {{ request.session.total }}</strong>    
                                        </div>
                                        <a href="login.html">
                                        <button class="button-color">Comprar</button>
                                        </a>           
                                      </footer>
                                      
                                  </div> 
                                </div>         
                                
                                 
