{% load static %}
    <section id="services" class="section wow fadeInUp" data-wow-delay="0.3s">
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title">Anéis</h2>
            <p class="section-subtitle">Escolha o que melhor combina com você!</p>
          </div>
          {% if request.session.mensagem != ''  %}

          <strong>{{ request.session.mensagem.0 }}<strong>
          {% endif %}
          
          {% if request.session.mensagem.1 == 'vazio' %}
          <div class="n-resultado">
            <p>Nenhum resultado encontrado.</p>
          </div>
          {% endif %}

          <br>
          <div class="row">



            {% for anel in aneis %}
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="item-boxes services-item wow anel-margin" data-wow-delay="0.2s">
                <div class="icon color-1">
                  <img class="img-escolha-aneis" src="{{ anel.imagem.url }}" alt="">
                </div>
                <div class="div-anel">
                  <h4>{{ anel.nome }}</h4>
                </div>
                <p class="cor-preco"><script>real_br_money("{{ anel.preco }}")</script></p>
                <br>
                <div class="" >
                <a href="{% url 'aneis' anel.id %}">
                  <button type="button" class="btn services-item-carrinho wow fadeInDown visualizar services-item " ><i class="lni lni-cart"></i>  Visualizar</button>
                </a>
                </div>
              </div>
            </div>

            {% endfor %}

            <div class="pagination container text-center center ">
                <span class="step-links">
                    {% if aneis.has_previous %}
                        <a href="?page={{ aneis.previous_page_number }}#services">anterior</a>
                    {% endif %}

                    <span class="current">
                        Página {{ aneis.number }} de {{ aneis.paginator.num_pages }}.
                    </span>

                    {% if aneis.has_next %}
                        <a href="?page={{ aneis.next_page_number }}#services">próxima</a>
                    {% endif %}
                </span>
            </div>
          
            
          </div>
        </div>
      </section>