{% load static %}
    <section id="services" class="section">
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title">Anéis</h2>
            <p class="section-subtitle">Escolha o que melhor combina com você!</p>
          </div>
          <div class="row">
  
            {% for anel in aneis %}
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="item-boxes services-item wow fadeInDown anel-margin" data-wow-delay="0.2s">
                <div class="icon color-1">
                  <img class="img-escolha-aneis" src="{{ anel.imagem.url }}" alt="">
                </div>
                <h4>{{ anel.nome }}</h4>
                <p class="cor-preco">R$ {{ anel.preco }}</p>
                <br>
                <a href="{% url 'aneis' anel.id %}">
                  <button type="button" class="btn services-item wow fadeInDown visualizar"><i class="lni lni-cart"></i>  Visualizar</button>
                </a>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </section>