{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="ftco-section">
    <div class="container section-title wow fadeInDown" data-wow-delay="0.3s">
        <div class="row justify-content-center">
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div class="login-wrap p-4 p-md-5">
                  <div class="d-flex">
                            <div class="w-100">
                                <div class="section-header text-center">
                                    <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Login</h2>
                                    <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
                                </div>
                            </div>
                  </div>
                        <form action="#" class="signin-form">
                      <div class="form-group mt-3">
                          <input type="text" placeholder="E-mail" id="E-mail" name="assunto" class="form-control" required data-error="Please enter your subject">
                      </div>
                <div class="form-group">
                    <input type="text" placeholder="Senha" id="Senha" name="assunto" class="form-control" required data-error="Please enter your subject">
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Logar</button>
                </div>
                <div class="form-group d-md-flex">
                    <div class="w-50 text-left">
                        <label class="checkbox-wrap checkbox-primary mb-0">Lembre-se
                                  <input type="checkbox" checked>
                                  <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Esqueceu a senha</a>
                                </div>
                </div>
              </form>
              <p class="text-center">Não tem cadastro? <a href="{% url 'cadastro' %}">Cadastrar</a></p>
            </div>
          </div>
            </div>
        </div>
    </div>
</section>
<br><br><br><br>

<!-- Footer Section Start --> 
{% include 'footer.html' %}
<!-- Footer Section End --> 
{% endblock %}
