/* Slide */
.slide img {
  width: 100%;
  float: left;
position: relative;
padding-top: 0px;
}

.carousel-padding {
    padding-top: 0px;
}

.div-inicio {
  height: 52px; 
}

.pad{
  padding-top: 20px;
}
@media screen and (max-width: 800px) {

  .slide img {
    padding-top: 0px;
  }
  .slide img {
    width: 120%;

  }
  .section {
    padding: 35px 0;
  }

  .pad{
    padding-top: 0;
  }
  .section {
      padding-bottom: 133px;
  }
}

  @media screen and (max-width: 765px) {

    .slide img {
      padding-top: 0px;
    }
    .slide img {
      width: 130%;

    }
  }

    @media screen and (max-width: 730px) {

      .slide img {
        padding-top: 0px;
      }
      .slide img {
        width: 150%;

      }
    }

@media screen and (max-width: 624px) {

  .slide img {
    padding-top: 22px;
  }
  .slide img {
    width: 163%;

  }
  .section {
    padding: 35px 0;
  }

  .pad{
    padding-top: 0;
  }
  .section {
      padding-bottom: 133px;
  }
  }

  @media screen and (max-width: 475px) {

    .slide img {
      padding-top: 22px;
    }
    .slide img {
      width: 193%;

    }
  }