/* Compra de aneis*/

.aneis-tam{
    font-size: 36px;
    color: #f97794;

}

.preco{
    font-size: 20px;
}

.select-tam {
    width: 50%;
    padding: 5px 30px;
    margin-bottom: -3px;
    padding-left: 1px;
}

.div-tam{
    width: 50%;
    float: left;
    padding-right: 19px;

}

.img-aneis{
    height: 350px;
    width: 350px;
    float: right;
}

.tamanho{
    font-size: 26px;

}

.qtd-tam{
    height: 30px;
}

.compra{
 background-color: #aec827;
}

/* Seleçao de aneis*/

.img-escolha-aneis{
    height: 150px;
    width: 150px;
}

.cor-preco{
    color: #f97794;
    font-size: 20px;
}

.visualizar{
    background-color: #f97794;
    padding: 8px;
   }

.anel-margin{
    margin-bottom: 0px;

}

.div-anel{
    height: 100px;
}


/* Cadastrar aneis */

.tam-form{
    margin-right: 35%;
    padding-left: 35%;
}


.tam-form-qtd{
    margin-right: 50%;
    padding-left: 35%;

}